<!DOCTYPE html>
<html>
  <head>
    <title>Disaster Damage Alert Integrated System</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="/landing" class="w3-button"><b>DDAS</b></a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
          <a href="/" class="w3-bar-item w3-button">Discover</a>
          <a href="/map" class="w3-bar-item w3-button">Trace Map</a>
          <a href="/about" class="w3-bar-item w3-button">About</a>
        </div>
      </div>
    </div>

    <!-- Header -->
    <header
      class="w3-display-container w3-content w3-wide"
      style="max-width: 1500px"
      id="home"
    >
      <img
        class="w3-image"
        src="../static/background.jpg"
        alt="Architecture"
        width="1500"
        height="800"
      />
      <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white" style="margin-bottom: 100px">
          <span class="w3-padding w3-black w3-opacity-min"><b>DDAS</b></span>
          <span class="w3-hide-small w3-text-light-grey"
            >Disaster Damage Alert Integrated System</span
          >
        </h1>
      </div>
    </header>
  </body>
</html>
